<p style="color: green"><%= notice %></p>

<h1>Froms</h1>

<div id="froms">
  <% @froms.each do |from| %>
    <%= render from %>
    <p>
      <%= link_to "Show this from", from %>
    </p>
  <% end %>
</div>

<%= link_to "New from", new_from_path %>
